/* About stylings starts */
.offer__container {
    max-width: 98%;
    margin: 20px auto;
    background-color: #F5F5F7;
    color: rgb(29, 29, 31);
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 60px 0;
}

.offer__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 40px;
    font-weight: 400;
}

.left__offer img {
    overflow: hidden;
    max-width: 100%;
    padding-left: 8px;
}

.right__offer {
    text-align: center;
    max-width: 500px;
}

.thelogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right__offer a {
    color: #2997FF;
    font-weight: 200;
    font-size: 16px;
}

.right__offer a:hover {
    text-decoration: underline;
}

.offer__links {
    margin: 20px 0;
}

.offer__links a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(29, 29, 31);
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 30px;
}

.offer__links a:hover {
    background-color: rgb(52, 52, 53);
    text-decoration: none;
}

/* About stylings Ends */

/* Apple music styling starts here */
.applemusic__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F5F5F7;
    max-width: 98%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 60px;
    gap: 50px;
}

.textArea {
    background-color: #F5F5F7;
    color: rgb(29, 29, 31);
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.textArea p {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 30px;
    max-width: 500px;
}

.textArea a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(29, 29, 31);
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 30px;
}

.textArea a:hover {
    background-color: rgb(52, 52, 53);
}

.img__container img {
    max-width: 100%;
    overflow: hidden;
}

/* Apple music styling Ends here */

@media (max-width:800px) {
    .offer__items {
        font-size: 28px;
        font-weight: 600;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .textArea {
        text-align: center;
    }
}