.collapse__container {
    max-width: 70%;
    margin: 0 auto;
    margin-top: -2px;
    color: rgb(29, 29, 31);
    padding-bottom: 50px;
}

.collapse__container h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

.dataitem {
    margin-top: 20px;
}

.dataitem__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #d2d2d7;
}

.dataitem__header svg {
    width: 40px;
    font-size: 40px;
    color: #d2d2d7;
}

.dataitem__body {
    margin: 20px 0;
    font-weight: 400;
    font-size: 17px;
    color: #6e6e73;
}

.dataitem__header h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1d1d1f;
}

@media(max-width:800px) {
    .collapse__container {
        max-width: 90%;
    }

    .collapse__container h1 {
        font-size: 30px;
    }

    .dataitem__header svg {
        font-size: 20px;
    }

    .dataitem__body p {
        font-size: 14px;
        line-height: 20px;
        word-spacing: 3px;

    }

    .dataitem__header h3 {
        max-width: 280px;
        font-size: 20px;
    }
}