.bg__color {
    background-color: #F5F5F7;
}

.footer__container a {
    color: #424245;
}

.footer__container a:hover {
    text-decoration: underline;
}

.footer__container {
    max-width: 80%;
    margin: auto;
    font-size: 12px;
    color: #6e6e73;
}

.upper__footer {
    padding: 20px 0;
    border-bottom: 0.2px solid #d2d2d7;
    ;
}

.upper__footer p {
    margin-top: 20px;
}

/* the second Footer styles */
.icon__container {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .3s;
    padding: 20px 0;
}

.icon__container svg {
    font-size: 20px;
}

.icon__container svg:hover {
    color: black;
}

.flex__wrapper {
    display: flex;
    justify-content: space-around;
    margin-left: -35px;
    transition: 0.3s ease-in-out;
}


.flex__wrapper ul {
    margin-left: -40px;
    font-size: 14px;
    padding-bottom: 20px;
}

.flex__wrapper li {
    margin: 10px 0;
}

.top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__container h4 {
    color: #1d1d1f;
}

.top__container svg {
    font-size: 16px;
    display: none;
}

.linkss li {
    transition: 0.3s ease-in-out;
    font-size: 12px;
    color: #424245;
}

.bottom p {
    color: #6e6e73;
    padding: 10px 0;
}

.bottom a {
    color: #2997FF;
    font-weight: 400;
    font-size: 14px;
}

.secondbottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    flex-wrap: wrap;
}

.secondbottom a {
    color: #424245;
}

.secondbottom a:hover {
    text-decoration: underline;
}

/* the second Footer styles ends */

@media (max-width:800px) {
    .footer__container {
        max-width: 95%;
    }

    .flex__wrapper {
        display: block;
        margin-left: 0;
    }

    .flex__wrapper h4 {
        font-weight: 500;
        font-size: 16px;
        margin-top: 10px;
        color: #1d1d1f;
    }

    .tinLine {
        height: 0.2px;
        background-color: #d2d2d7;
        margin-top: 10px;
    }

    .linkss {
        display: none;
    }

    .displaylinks {
        display: block;
        transition: .3s;
    }

    .icon__container svg {
        font-size: 30px;
    }

    .top__container svg {
        display: flex;
    }
}