* {
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg {
  background-color: white;
  z-index: 5;
  padding: 20px;
}

.blue__links {
  color: #2997FF;
  font-weight: 400;
  font-size: 14px;
}

.blue__links:hover {
  text-decoration: underline;
}

.hero__link {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 31);
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 30px;
}